In [32]:
import sqlite3

conn = sqlite3.connect('Cell_inventory.db')
cur = conn.cursor()

In [33]:
from sqlalchemy import create_engine
import pandas as pd

URL = "CONNECTION STRING"
engine = create_engine(URL, echo=True)

In [34]:
df_test_inventory = pd.read_csv('csv/cell_test_inventory.csv')
df_test_inventory.keys()

Index(['Cell Type ID', 'Sample ID', 'Serial Number (Cell)', 'Customer',
       'Date Received (DD/MM/YYYY)', 'Purpose', 'Cell Producer', 'Cell Model',
       'Nominal Cell Capacity (Ah)', 'Form Factor',
       'Max rated current (charge) (A)', 'Max rated current (discharge) (A)',
       'Voltage (V)', 'AC-IR (mOhm) - 1 kHz', 'Weight (g)', 'Dimensions',
       'Battery chemistry', 'Cathode chemistry', 'Anode chemistry',
       'Additional tags (comma - separated)', 'Test Name', 'Cycler', 'Chamber',
       'Channel', 'Test ID', 'Test Procedure', 'Temperature (C)', 'SoC',
       'Test Current (A)', 'Comment', 'LEGACY testprocedure', 'Unnamed: 31',
       'Storage Cabinet', 'Cabinet Shelf'],
      dtype='object')

In [35]:
rename_dict = {
      'Cell Type ID': 'type_id',
      'Sample ID': 'sample_id',
      'Serial Number (Cell)': 'serial_number',
      'Customer': 'customer_id',
      'Date Received (DD/MM/YYYY)': 'date_received',
      'Purpose': 'purpose',
      'Cell Producer': 'cell_producer_id',
      'Cell Model': 'cell_model_id',
      'Nominal Cell Capacity (Ah)': 'nominal_capacity',
      'Form Factor': 'form_factor_id',
      'Max rated current (charge) (A)': 'charge_max_rated_current',
      'Max rated current (discharge) (A)': 'discharge_max_rated_current',
        'Voltage (V)': 'voltage',
        'AC-IR (mOhm) - 1 kHz': 'ac_ir',
        'Weight (g)': 'weight',
        'Dimensions': 'dimensions',
        'Battery chemistry': 'battery_chemistry_id',
        'Cathode chemistry': 'cathode_chemistry_id',
        'Anode chemistry': 'anode_chemistry_id',
        'Additional tags (comma - separated)': 'additional_tags',
        'Test Name': 'test_name',
        'Cycler': 'cycler',
        'Test Procedure': 'procedure',
        'Temperature (C)': 'temperature',
        'SoC': 'soc',
        'Test Current (A)': 'test_current',
        'Comment': 'comment',
        'LEGACY testprocedure': 'legacy_testprocedure',
        'Storage Cabinet': 'storage_location',
        'Cabinet Shelf': 'cabinet_shelf',
        'Test ID': 'test_id',
        'Chamber': 'chamber',
        'Channel': 'channel',
    }



df_test_inventory.rename(columns=rename_dict, inplace=True)
df_append_sqlite = df_test_inventory.copy()

In [36]:
df_test_inventory.drop(columns=['soc', 'test_current','cycler', 'legacy_testprocedure', 'Unnamed: 31', 'cabinet_shelf', 'sample_id', 'test_name', 'comment', 'temperature', 'procedure', 'test_id', 'chamber', 'channel'], inplace=True)

In [37]:
df_test_inventory['date_received'] = pd.to_datetime(df_test_inventory['date_received'], format='mixed').dt.strftime('%Y-%m-%d')

In [38]:
len(df_test_inventory.keys())
df_test_inventory.keys()

Index(['type_id', 'serial_number', 'customer_id', 'date_received', 'purpose',
       'cell_producer_id', 'cell_model_id', 'nominal_capacity',
       'form_factor_id', 'charge_max_rated_current',
       'discharge_max_rated_current', 'voltage', 'ac_ir', 'weight',
       'dimensions', 'battery_chemistry_id', 'cathode_chemistry_id',
       'anode_chemistry_id', 'additional_tags', 'storage_location'],
      dtype='object')

In [39]:
df_cell_info = pd.read_sql_query("SELECT cell_type_id AS type_id, cell_number, serial_number, date_received, date_released, purpose, nominal_capacity, max_rated_current_charge AS charge_max_rated_current, max_rated_current_discharge AS discharge_max_rated_current, voltage, ac_ir, weight, dimensions, additional_tags, storage_location, customer AS customer_id, battery_chemistry AS battery_chemistry_id, anode_chemistry as anode_chemistry_id, cathode_chemistry AS cathode_chemistry_id, cell_model AS cell_model_id, form_factor AS form_factor_id, cell_producer AS cell_producer_id, responsible_person AS responsible_person_id from table_cells", conn)

In [40]:
df_cell_info.keys()

Index(['type_id', 'cell_number', 'serial_number', 'date_received',
       'date_released', 'purpose', 'nominal_capacity',
       'charge_max_rated_current', 'discharge_max_rated_current', 'voltage',
       'ac_ir', 'weight', 'dimensions', 'additional_tags', 'storage_location',
       'customer_id', 'battery_chemistry_id', 'anode_chemistry_id',
       'cathode_chemistry_id', 'cell_model_id', 'form_factor_id',
       'cell_producer_id', 'responsible_person_id'],
      dtype='object')

In [41]:
df_cell_info = pd.concat([df_cell_info, df_test_inventory], axis=0, ignore_index=True)
df_cell_info.dropna(subset=['type_id', 'cell_number'], how='all', inplace=True)
df_cell_info

,type_id,cell_number,serial_number,date_received,date_released,purpose,nominal_capacity,charge_max_rated_current,discharge_max_rated_current,voltage,...,additional_tags,storage_location,customer_id,battery_chemistry_id,anode_chemistry_id,cathode_chemistry_id,cell_model_id,form_factor_id,cell_producer_id,responsible_person_id
0,EV_SKE_556,069,EV_SKE556_pouch,2024-04-12,None,Aging,57.5,,,3.6138,...,,3,Electra Vehicles,Li-ion,Graphite,NMC,556,Pouch,SK Energy,Shuo
1,BMW_LTF_2795,002,,2025-02-03,None,,35,,,,...,,,BMW,,,,,Cylindrical,,
2,BMW_LTF_2795,001,,2025-02-03,None,,35,,,,...,,,BMW,,,,,Cylindrical,,
3,BMW_LTF_3012,001,,2025-02-03,None,,33,,,,...,,,BMW,,,,,Cylindrical,,
4,BMW_LTF_2056,003,,2025-02-03,None,,33,,,,...,,,BMW,,,,,Cylindrical,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,LTF-2066,NaN,2023102612300312027,NaN,NaN,NaN,NaN,NaN,NaN,3.502,...,NaN,NaN,BMW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6143,LTF-2072,NaN,2023101712300275010,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,BMW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6144,LTF-2072,NaN,2023101712300275011,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,BMW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6145,LTF-2072,NaN,2023101712300275010,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,BMW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6146,LTF-2072,NaN,2023101712300275011,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,BMW,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_cell_info['storage_location'].replace('c', 4, inplace=True)

/var/folders/yl/rlgr0xh932b142b9h7nkk8x80000gn/T/ipykernel_40506/564337855.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cell_info['storage_location'].replace('c', 4, inplace=True)

In [43]:
df_costumers = pd.DataFrame(df_cell_info['customer_id'].unique(), columns=['name'])
df_battery_chemistry = pd.DataFrame(df_cell_info['battery_chemistry_id'].unique(), columns=['name'])
df_anode_chemistry = pd.DataFrame(df_cell_info['anode_chemistry_id'].unique(), columns=['name'])
df_cathode_chemistry = pd.DataFrame(df_cell_info['cathode_chemistry_id'].unique(), columns=['name'])
df_cell_model = pd.DataFrame(df_cell_info['cell_model_id'].unique(), columns=['name'])
df_form_factor = pd.DataFrame(df_cell_info['form_factor_id'].unique(), columns=['name'])
df_producer = pd.DataFrame(df_cell_info['cell_producer_id'].unique(), columns=['name'])
df_test_engineer = pd.DataFrame(df_cell_info['responsible_person_id'].unique(), columns=['name'])
df_test_procedure = pd.DataFrame(df_cell_info['purpose'].unique(), columns=['name'])

df_costumers

                name
0   Electra Vehicles
1                BMW
2           Internal
3      Daimler Truck
4        CustomCells
5              IVECO
6             Sphere
7                NaN
8            Festool
9       Custom Cells
10             Rimac
11             SENEC
12             Alber
13         CellForce
14               HPB

In [44]:
df_test_inventory.keys()

Index(['type_id', 'serial_number', 'customer_id', 'date_received', 'purpose',
       'cell_producer_id', 'cell_model_id', 'nominal_capacity',
       'form_factor_id', 'charge_max_rated_current',
       'discharge_max_rated_current', 'voltage', 'ac_ir', 'weight',
       'dimensions', 'battery_chemistry_id', 'cathode_chemistry_id',
       'anode_chemistry_id', 'additional_tags', 'storage_location'],
      dtype='object')

In [45]:
df_battery_chemistry.to_sql('BATTERY_CHEMISTRY', con=engine, if_exists='append', index=False)
df_anode_chemistry.to_sql('ANODE_CHEMISTRY', con=engine, if_exists='append', index=False)
df_cathode_chemistry.to_sql('CATHODE_CHEMISTRY', con=engine, if_exists='append', index=False)
df_cell_model.to_sql('CELL_MODEL', con=engine, if_exists='append', index=False)
df_form_factor.to_sql('FORM_FACTOR', con=engine, if_exists='append', index=False)
df_producer.to_sql('CELL_PRODUCER', con=engine, if_exists='append', index=False)
df_test_engineer.to_sql('TEST_ENGINEER', con=engine, if_exists='append', index=False)
df_costumers.to_sql('CUSTOMER', con=engine, if_exists='append', index=False)

2025-03-06 12:00:52,354 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-03-06 12:00:52,355 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-06 12:00:52,382 INFO sqlalchemy.engine.Engine select current_schema()
2025-03-06 12:00:52,382 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-06 12:00:52,423 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-03-06 12:00:52,424 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-06 12:00:52,448 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,454 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,454 INFO sqlalchemy.engine.Engine [generated in 0.00042s] {'table_name': 'BATTERY_CHEMISTRY', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,482 INFO sqlalchemy.engine.Engine INSERT INTO "BATTERY_CHEMISTRY" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s), (%(name__4)s), (%(name__5)s)
2025-03-06 12:00:52,482 INFO sqlalchemy.engine.Engine [generated in 0.00003s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'Li-ion', 'name__1': '', 'name__2': 'Li-Ion', 'name__3': 'NMC', 'name__4': None, 'name__5': 'Li-Ion - solid electrolyte'}
2025-03-06 12:00:52,500 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,501 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,515 INFO sqlalchemy.engine.Engine COMMIT
2025-03-06 12:00:52,531 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,531 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,532 INFO sqlalchemy.engine.Engine [cached since 0.07799s ago] {'table_name': 'ANODE_CHEMISTRY', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,556 INFO sqlalchemy.engine.Engine INSERT INTO "ANODE_CHEMISTRY" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s)
2025-03-06 12:00:52,557 INFO sqlalchemy.engine.Engine [generated in 0.00004s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'Graphite', 'name__1': '', 'name__2': None}
2025-03-06 12:00:52,569 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,569 INFO sqlalchemy.engine.Engine [cached since 0.06898s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,581 INFO sqlalchemy.engine.Engine COMMIT
2025-03-06 12:00:52,596 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,596 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,597 INFO sqlalchemy.engine.Engine [cached since 0.1431s ago] {'table_name': 'CATHODE_CHEMISTRY', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,620 INFO sqlalchemy.engine.Engine INSERT INTO "CATHODE_CHEMISTRY" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s)
2025-03-06 12:00:52,620 INFO sqlalchemy.engine.Engine [generated in 0.00003s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'NMC', 'name__1': '', 'name__2': 'LFP', 'name__3': None}
2025-03-06 12:00:52,633 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,633 INFO sqlalchemy.engine.Engine [cached since 0.1332s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,646 INFO sqlalchemy.engine.Engine COMMIT
2025-03-06 12:00:52,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,661 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,661 INFO sqlalchemy.engine.Engine [cached since 0.2074s ago] {'table_name': 'CELL_MODEL', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,684 INFO sqlalchemy.engine.Engine INSERT INTO "CELL_MODEL" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s), (%(name__4)s), (%(name__5)s), (%(name__6)s), (%(name__7)s), (%(name__8)s), (%(name__9)s), (%(name__10)s), (%(name__11)s), (%(name__12)s), (%(name__13)s ... 749 characters truncated ... 0)s), (%(name__61)s), (%(name__62)s), (%(name__63)s), (%(name__64)s), (%(name__65)s), (%(name__66)s)
2025-03-06 12:00:52,684 INFO sqlalchemy.engine.Engine [generated in 0.00007s (insertmanyvalues) 1/1 (unordered)] {'name__0': '556', 'name__1': '', 'name__2': 'P52', 'name__3': 'P45B', 'name__4': 'D21', 'name__5': 'P73', 'name__6': '4695', 'name__7': '23-235', 'name__8': '46120', 'name__9': 'R115C', 'name__10': '46950', 'name__11': '\nINR21700-M48', 'name__12': None, 'name__13': 'JGNE HTCFR 18650 1800mAh \n5.4A LifePO4 - 3.2V', 'name__14': 'INR21700-33J \n3270mAh - 6.4A ', 'name__15': 'INR21700-50S \n5000mAh - 35 A', 'name__16': 'INR18650-M26S \n2500mAh - 10A', 'name__17': 'INR18650-25R button top', 'name__18': 'US18650VTC5 \n2600 mAh - 30 A', 'name__19': 'PLB IFR26650-25B', 'name__20': 'PLB IFR26650-33A', 'name__21': 'PLB IFR26650-30B', 'name__22': 'INR21700-P42A', 'name__23': '18650-VTC5A', 'name__24': 'Keeppower 21700 NH2130 3,7 V 3000 mAh', 'name__25': '21700 40P ', 'name__26': '18650 25P', 'name__27': 'US21700 VTC6 AF', 'name__28': 'US21700 VTC6 AM', 'name__29': 'INR18650 32 P', 'name__30': 'US18650 VTC6', 'name__31': 'US18650 VTC6 ', 'name__32': 'INR 21700 40TG', 'name__33': 'LR 21700 LA', 'name__34': 'INR21700 40T3', 'name__35': 'INR-21700-P45B', 'name__36': 'INR18650-25PG', 'name__37': 'INR18650-25P', 'name__38': 'INR18650-25R8', 'name__39': 'INR18650-P30B', 'name__40': 'INR-18650-P26A', 'name__41': 'INR18650 25 SG', 'name__42': 'INR21700 40 PL', 'name__43': 'CC_10900400_008', 'name__44': 'CC_10900400_010', 'name__45': 'ZL-Rim-3622-11Ah-02', 'name__46': 'ZL-Rim-3622-11Ah-04', 'name__47': 'ZL-Rim-3622-11Ah-05', 'name__48': 'INR18650_30E', 'name__49': 'P73_pouch B', 'name__50': 'P84_pouch B', 'name__51': 'INR2170_40D', 'name__52': 'R95_C', 'name__53': '21700A', 'name__54': 'R117_C', 'name__55': 'Type 7.1', 'name__56': 'Type 8.1', 'name__57': 'Type 10.1', 'name__58': 'Type 9.1', 'name__59': 'Type 2', 'name__60': 'Type 302', 'name__61': 'Type 301', 'name__62': 'R106_C', 'name__63': '18650', 'name__64': '21700', 'name__65': 'E556', 'name__66': 'V21700HD-26'}
2025-03-06 12:00:52,697 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,697 INFO sqlalchemy.engine.Engine [cached since 0.1974s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,710 INFO sqlalchemy.engine.Engine COMMIT
2025-03-06 12:00:52,725 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,725 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,726 INFO sqlalchemy.engine.Engine [cached since 0.2721s ago] {'table_name': 'FORM_FACTOR', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,749 INFO sqlalchemy.engine.Engine INSERT INTO "FORM_FACTOR" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s)
2025-03-06 12:00:52,750 INFO sqlalchemy.engine.Engine [generated in 0.00004s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'Pouch', 'name__1': 'Cylindrical', 'name__2': 'Prismatic', 'name__3': None}
2025-03-06 12:00:52,764 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,765 INFO sqlalchemy.engine.Engine [cached since 0.2645s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,776 INFO sqlalchemy.engine.Engine COMMIT
2025-03-06 12:00:52,791 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,792 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,792 INFO sqlalchemy.engine.Engine [cached since 0.3384s ago] {'table_name': 'CELL_PRODUCER', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,816 INFO sqlalchemy.engine.Engine INSERT INTO "CELL_PRODUCER" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s), (%(name__4)s), (%(name__5)s), (%(name__6)s), (%(name__7)s), (%(name__8)s), (%(name__9)s), (%(name__10)s), (%(name__11)s), (%(name__12)s), (%(name__1 ... 208 characters truncated ... 6)s), (%(name__27)s), (%(name__28)s), (%(name__29)s), (%(name__30)s), (%(name__31)s), (%(name__32)s)
2025-03-06 12:00:52,817 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'SK Energy', 'name__1': '', 'name__2': 'Molicel', 'name__3': 'Benergy', 'name__4': 'BMW', 'name__5': 'CALB', 'name__6': 'Gotion', 'name__7': 'EVE', 'name__8': 'Farasis', 'name__9': 'CATL', 'name__10': 'KeepPower', 'name__11': 'Samsung', 'name__12': 'Molicell', 'name__13': 'LG', 'name__14': None, 'name__15': 'Unknown', 'name__16': 'Murata', 'name__17': 'TerraE', 'name__18': 'Tenpower', 'name__19': 'Custom Cells', 'name__20': 'BAK', 'name__21': 'Ampace', 'name__22': 'SVolt', 'name__23': 'Univercell', 'name__24': 'Cellforce', 'name__25': 'HPB', 'name__26': 'Panasonic', 'name__27': 'Saft', 'name__28': 'Vapcell', 'name__29': 'Lishen', 'name__30': 'Cham', 'name__31': 'SK Innovation', 'name__32': 'Varta'}
2025-03-06 12:00:52,830 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,830 INFO sqlalchemy.engine.Engine [cached since 0.3302s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,842 INFO sqlalchemy.engine.Engine COMMIT
2025-03-06 12:00:52,860 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,861 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,861 INFO sqlalchemy.engine.Engine [cached since 0.4079s ago] {'table_name': 'TEST_ENGINEER', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,885 INFO sqlalchemy.engine.Engine INSERT INTO "TEST_ENGINEER" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s), (%(name__4)s), (%(name__5)s), (%(name__6)s), (%(name__7)s), (%(name__8)s)
2025-03-06 12:00:52,885 INFO sqlalchemy.engine.Engine [generated in 0.00006s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'Shuo', 'name__1': '', 'name__2': 'Nico', 'name__3': 'Holger', 'name__4': 'SF', 'name__5': 'CK', 'name__6': 'Liam', 'name__7': 'Bruno', 'name__8': None}
2025-03-06 12:00:52,898 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,898 INFO sqlalchemy.engine.Engine [cached since 0.398s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,911 INFO sqlalchemy.engine.Engine COMMIT
2025-03-06 12:00:52,925 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:52,926 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,927 INFO sqlalchemy.engine.Engine [cached since 0.4731s ago] {'table_name': 'CUSTOMER', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,961 INFO sqlalchemy.engine.Engine INSERT INTO "CUSTOMER" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s), (%(name__4)s), (%(name__5)s), (%(name__6)s), (%(name__7)s), (%(name__8)s), (%(name__9)s), (%(name__10)s), (%(name__11)s), (%(name__12)s), (%(name__13)s), (%(name__14)s)
2025-03-06 12:00:52,961 INFO sqlalchemy.engine.Engine [generated in 0.00004s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'Electra Vehicles', 'name__1': 'BMW', 'name__2': 'Internal', 'name__3': 'Daimler Truck', 'name__4': 'CustomCells', 'name__5': 'IVECO', 'name__6': 'Sphere', 'name__7': None, 'name__8': 'Festool', 'name__9': 'Custom Cells', 'name__10': 'Rimac', 'name__11': 'SENEC', 'name__12': 'Alber', 'name__13': 'CellForce', 'name__14': 'HPB'}
2025-03-06 12:00:52,974 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:52,974 INFO sqlalchemy.engine.Engine [cached since 0.4739s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:52,986 INFO sqlalchemy.engine.Engine COMMIT

15

In [46]:
df_test_procedure.to_sql('TEST_PROCEDURE', con=engine, if_exists='append', index=False)

2025-03-06 12:00:53,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:53,009 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:53,009 INFO sqlalchemy.engine.Engine [cached since 0.5553s ago] {'table_name': 'TEST_PROCEDURE', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:53,039 INFO sqlalchemy.engine.Engine INSERT INTO "TEST_PROCEDURE" (name) VALUES (%(name__0)s), (%(name__1)s), (%(name__2)s), (%(name__3)s), (%(name__4)s), (%(name__5)s), (%(name__6)s), (%(name__7)s), (%(name__8)s), (%(name__9)s), (%(name__10)s), (%(name__11)s), (%(name__12)s), (%(name__13)s), (%(name__14)s), (%(name__15)s)
2025-03-06 12:00:53,039 INFO sqlalchemy.engine.Engine [generated in 0.00004s (insertmanyvalues) 1/1 (unordered)] {'name__0': 'Aging', 'name__1': '', 'name__2': 'Benchmark', 'name__3': None, 'name__4': 'benchmark', 'name__5': 'Referenzmessung', 'name__6': 'Customer testplan', 'name__7': 'Customer test plan', 'name__8': 'Vergleich T-Sensoren', 'name__9': 'discharge in box, 25 Â°C', 'name__10': 'reserviert fÃ¼r Gapfiller', 'name__11': 'Customer Testplan', 'name__12': 'Customer Testplan ', 'name__13': 'Customer Spec', 'name__14': 'ASCP Testplan', 'name__15': 'Benchmarking'}
2025-03-06 12:00:53,051 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:53,052 INFO sqlalchemy.engine.Engine [cached since 0.5518s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:53,064 INFO sqlalchemy.engine.Engine COMMIT

16

In [47]:
df_costumers.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_costumers, left_on='customer_id', right_on='name', how='left')
df_cell_info['customer_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)

In [48]:
df_battery_chemistry.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_battery_chemistry, left_on='battery_chemistry_id', right_on='name', how='left')
df_cell_info['battery_chemistry_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)
df_cell_info.drop(columns=['name_y'], inplace=True)

df_anode_chemistry.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_anode_chemistry, left_on='anode_chemistry_id', right_on='name', how='left')
df_cell_info['anode_chemistry_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)
df_cell_info.drop(columns=['name_x'], inplace=True)

df_cathode_chemistry.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_cathode_chemistry, left_on='cathode_chemistry_id', right_on='name', how='left', suffixes=('', '_cc'))
df_cell_info['cathode_chemistry_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)
df_cell_info.drop(columns=['name_cc'], inplace=True)

df_cell_model.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_cell_model, left_on='cell_model_id', right_on='name', how='left', suffixes=('', '_cm'))
df_cell_info['cell_model_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)
df_cell_info.drop(columns=['name_cm'], inplace=True)

df_form_factor.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_form_factor, left_on='form_factor_id', right_on='name', how='left', suffixes=('', '_ff'))
df_cell_info['form_factor_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)
df_cell_info.drop(columns=['name_ff'], inplace=True)

df_producer.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_producer, left_on='cell_producer_id', right_on='name', how='left', suffixes=('', '_cp'))
df_cell_info['cell_producer_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)
df_cell_info.drop(columns=['name_cp'], inplace=True)

df_test_engineer.reset_index(inplace=True)
df_cell_info = df_cell_info.merge(df_test_engineer, left_on='responsible_person_id', right_on='name', how='left', suffixes=('', '_rp'))
df_cell_info['responsible_person_id'] = df_cell_info['index'] + 1
df_cell_info.drop(columns=['index'], inplace=True)
df_cell_info.drop(columns=['name_rp'], inplace=True)

df_cell_info.drop(columns=['name'], inplace=True)

df_cell_info.replace('None', None, inplace=True)
df_cell_info.replace('', None, inplace=True)
df_cell_info

,type_id,cell_number,serial_number,date_received,date_released,purpose,nominal_capacity,charge_max_rated_current,discharge_max_rated_current,voltage,...,additional_tags,storage_location,customer_id,battery_chemistry_id,anode_chemistry_id,cathode_chemistry_id,cell_model_id,form_factor_id,cell_producer_id,responsible_person_id
0,EV_SKE_556,069,EV_SKE556_pouch,2024-04-12,None,Aging,57.5,None,None,3.6138,...,None,3,1,1,1,1,1,1,1,1
1,BMW_LTF_2795,002,None,2025-02-03,None,None,35,None,None,None,...,None,None,2,2,2,2,2,2,2,2
2,BMW_LTF_2795,001,None,2025-02-03,None,None,35,None,None,None,...,None,None,2,2,2,2,2,2,2,2
3,BMW_LTF_3012,001,None,2025-02-03,None,None,33,None,None,None,...,None,None,2,2,2,2,2,2,2,2
4,BMW_LTF_2056,003,None,2025-02-03,None,None,33,None,None,None,...,None,None,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4512,LTF-2066,NaN,2023102612300312027,NaN,NaN,NaN,NaN,NaN,NaN,3.502,...,NaN,NaN,2,5,3,4,13,4,15,9
4513,LTF-2072,NaN,2023101712300275010,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,2,5,3,4,13,4,15,9
4514,LTF-2072,NaN,2023101712300275011,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,2,5,3,4,13,4,15,9
4515,LTF-2072,NaN,2023101712300275010,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,2,5,3,4,13,4,15,9
4516,LTF-2072,NaN,2023101712300275011,NaN,NaN,NaN,NaN,NaN,NaN,3.511,...,NaN,NaN,2,5,3,4,13,4,15,9

In [49]:
df_cell_info.drop(columns=['form_factor_id'], inplace=True)
df_cell_info.to_sql('CELL_INFO', con=engine, if_exists='append', index=False)

2025-03-06 12:00:53,161 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:53,163 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:53,164 INFO sqlalchemy.engine.Engine [cached since 0.7102s ago] {'table_name': 'CELL_INFO', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:53,234 INFO sqlalchemy.engine.Engine INSERT INTO "CELL_INFO" (type_id, cell_number, serial_number, date_received, date_released, purpose, nominal_capacity, charge_max_rated_current, discharge_max_rated_current, voltage, ac_ir, weight, dimensions, additional_tags, storage_location, custo ... 550613 characters truncated ... mistry_id__999)s, %(cell_model_id__999)s, %(cell_producer_id__999)s, %(responsible_person_id__999)s)
2025-03-06 12:00:53,234 INFO sqlalchemy.engine.Engine [generated in 0.02179s (insertmanyvalues) 1/5 (unordered)] {'customer_id__0': 1, 'nominal_capacity__0': '57.5', 'discharge_max_rated_current__0': None, 'cell_producer_id__0': 1, 'cell_model_id__0': 1, 'cathode_chemistry_id__0': 1, 'ac_ir__0': '.64', 'date_received__0': '2024-04-12', 'serial_number__0': 'EV_SKE556_pouch', 'battery_chemistry_id__0': 1, 'date_released__0': None, 'anode_chemistry_id__0': 1, 'voltage__0': '3.6138', 'dimensions__0': None, 'charge_max_rated_current__0': None, 'additional_tags__0': None, 'cell_number__0': '069', 'purpose__0': 'Aging', 'storage_location__0': '3', 'type_id__0': 'EV_SKE_556', 'responsible_person_id__0': 1, 'weight__0': None, 'customer_id__1': 2, 'nominal_capacity__1': '35', 'discharge_max_rated_current__1': None, 'cell_producer_id__1': 2, 'cell_model_id__1': 2, 'cathode_chemistry_id__1': 2, 'ac_ir__1': None, 'date_received__1': '2025-02-03', 'serial_number__1': None, 'battery_chemistry_id__1': 2, 'date_released__1': None, 'anode_chemistry_id__1': 2, 'voltage__1': None, 'dimensions__1': None, 'charge_max_rated_current__1': None, 'additional_tags__1': None, 'cell_number__1': '002', 'purpose__1': None, 'storage_location__1': None, 'type_id__1': 'BMW_LTF_2795', 'responsible_person_id__1': 2, 'weight__1': None, 'customer_id__2': 2, 'nominal_capacity__2': '35', 'discharge_max_rated_current__2': None, 'cell_producer_id__2': 2, 'cell_model_id__2': 2, 'cathode_chemistry_id__2': 2 ... 21900 parameters truncated ... 'cell_number__997': None, 'purpose__997': None, 'storage_location__997': '1', 'type_id__997': 'SA_INR21700-30T_SE', 'responsible_person_id__997': 9, 'weight__997': None, 'customer_id__998': 8, 'nominal_capacity__998': None, 'discharge_max_rated_current__998': None, 'cell_producer_id__998': 15, 'cell_model_id__998': 13, 'cathode_chemistry_id__998': 4, 'ac_ir__998': None, 'date_received__998': None, 'serial_number__998': 'B7C6', 'battery_chemistry_id__998': 5, 'date_released__998': None, 'anode_chemistry_id__998': 3, 'voltage__998': None, 'dimensions__998': None, 'charge_max_rated_current__998': None, 'additional_tags__998': None, 'cell_number__998': None, 'purpose__998': None, 'storage_location__998': '1', 'type_id__998': 'LG_INR18650-MH1_SE', 'responsible_person_id__998': 9, 'weight__998': None, 'customer_id__999': 8, 'nominal_capacity__999': None, 'discharge_max_rated_current__999': None, 'cell_producer_id__999': 15, 'cell_model_id__999': 13, 'cathode_chemistry_id__999': 4, 'ac_ir__999': None, 'date_received__999': None, 'serial_number__999': 'B3C7', 'battery_chemistry_id__999': 5, 'date_released__999': None, 'anode_chemistry_id__999': 3, 'voltage__999': None, 'dimensions__999': None, 'charge_max_rated_current__999': None, 'additional_tags__999': None, 'cell_number__999': None, 'purpose__999': None, 'storage_location__999': '1', 'type_id__999': 'LG_INR18650-MH1_SE', 'responsible_person_id__999': 9, 'weight__999': None}
2025-03-06 12:00:53,525 INFO sqlalchemy.engine.Engine INSERT INTO "CELL_INFO" (type_id, cell_number, serial_number, date_received, date_released, purpose, nominal_capacity, charge_max_rated_current, discharge_max_rated_current, voltage, ac_ir, weight, dimensions, additional_tags, storage_location, custo ... 550613 characters truncated ... mistry_id__999)s, %(cell_model_id__999)s, %(cell_producer_id__999)s, %(responsible_person_id__999)s)
2025-03-06 12:00:53,526 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (unordered)] {'customer_id__0': 8, 'nominal_capacity__0': None, 'discharge_max_rated_current__0': None, 'cell_producer_id__0': 15, 'cell_model_id__0': 13, 'cathode_chemistry_id__0': 4, 'ac_ir__0': None, 'date_received__0': None, 'serial_number__0': 'B5C6', 'battery_chemistry_id__0': 5, 'date_released__0': None, 'anode_chemistry_id__0': 3, 'voltage__0': None, 'dimensions__0': None, 'charge_max_rated_current__0': None, 'additional_tags__0': None, 'cell_number__0': None, 'purpose__0': None, 'storage_location__0': '1', 'type_id__0': 'LG_INR18650-MH1_SE', 'responsible_person_id__0': 9, 'weight__0': None, 'customer_id__1': 8, 'nominal_capacity__1': None, 'discharge_max_rated_current__1': None, 'cell_producer_id__1': 15, 'cell_model_id__1': 13, 'cathode_chemistry_id__1': 4, 'ac_ir__1': None, 'date_received__1': None, 'serial_number__1': 'B5C4', 'battery_chemistry_id__1': 5, 'date_released__1': None, 'anode_chemistry_id__1': 3, 'voltage__1': None, 'dimensions__1': None, 'charge_max_rated_current__1': None, 'additional_tags__1': None, 'cell_number__1': None, 'purpose__1': None, 'storage_location__1': '1', 'type_id__1': 'LG_INR18650-MH1_SE', 'responsible_person_id__1': 9, 'weight__1': None, 'customer_id__2': 8, 'nominal_capacity__2': None, 'discharge_max_rated_current__2': None, 'cell_producer_id__2': 15, 'cell_model_id__2': 13, 'cathode_chemistry_id__2': 4 ... 21900 parameters truncated ... 'cell_number__997': None, 'purpose__997': None, 'storage_location__997': '1', 'type_id__997': 'Molicel INR21700 P45B series', 'responsible_person_id__997': 9, 'weight__997': 67.2, 'customer_id__998': 7, 'nominal_capacity__998': 4.5, 'discharge_max_rated_current__998': None, 'cell_producer_id__998': 3, 'cell_model_id__998': 36, 'cathode_chemistry_id__998': 4, 'ac_ir__998': None, 'date_received__998': '2022-11-09', 'serial_number__998': None, 'battery_chemistry_id__998': 5, 'date_released__998': None, 'anode_chemistry_id__998': 3, 'voltage__998': None, 'dimensions__998': None, 'charge_max_rated_current__998': None, 'additional_tags__998': None, 'cell_number__998': None, 'purpose__998': None, 'storage_location__998': '1', 'type_id__998': 'Molicel INR21700 P45B series', 'responsible_person_id__998': 9, 'weight__998': 67.2, 'customer_id__999': 9, 'nominal_capacity__999': None, 'discharge_max_rated_current__999': None, 'cell_producer_id__999': 8, 'cell_model_id__999': 27, 'cathode_chemistry_id__999': 4, 'ac_ir__999': 14.98, 'date_received__999': '2023-02-01', 'serial_number__999': 'DLJE41A135776', 'battery_chemistry_id__999': 5, 'date_released__999': None, 'anode_chemistry_id__999': 3, 'voltage__999': None, 'dimensions__999': '18650', 'charge_max_rated_current__999': None, 'additional_tags__999': None, 'cell_number__999': None, 'purpose__999': 'Customer testplan', 'storage_location__999': '1', 'type_id__999': 'SE_EVE_18650-25P_SE', 'responsible_person_id__999': 9, 'weight__999': None}
2025-03-06 12:00:53,758 INFO sqlalchemy.engine.Engine INSERT INTO "CELL_INFO" (type_id, cell_number, serial_number, date_received, date_released, purpose, nominal_capacity, charge_max_rated_current, discharge_max_rated_current, voltage, ac_ir, weight, dimensions, additional_tags, storage_location, custo ... 550613 characters truncated ... mistry_id__999)s, %(cell_model_id__999)s, %(cell_producer_id__999)s, %(responsible_person_id__999)s)
2025-03-06 12:00:53,758 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (unordered)] {'customer_id__0': 9, 'nominal_capacity__0': None, 'discharge_max_rated_current__0': None, 'cell_producer_id__0': 8, 'cell_model_id__0': 27, 'cathode_chemistry_id__0': 4, 'ac_ir__0': 14.98, 'date_received__0': '2023-02-01', 'serial_number__0': 'DLJE41A135776', 'battery_chemistry_id__0': 5, 'date_released__0': None, 'anode_chemistry_id__0': 3, 'voltage__0': None, 'dimensions__0': '18650', 'charge_max_rated_current__0': None, 'additional_tags__0': None, 'cell_number__0': None, 'purpose__0': 'Customer testplan', 'storage_location__0': '1', 'type_id__0': 'SE_EVE_18650-25P_SE', 'responsible_person_id__0': 9, 'weight__0': None, 'customer_id__1': 9, 'nominal_capacity__1': None, 'discharge_max_rated_current__1': None, 'cell_producer_id__1': 8, 'cell_model_id__1': 27, 'cathode_chemistry_id__1': 4, 'ac_ir__1': 14.98, 'date_received__1': '2023-02-01', 'serial_number__1': 'DLJE41A135776', 'battery_chemistry_id__1': 5, 'date_released__1': None, 'anode_chemistry_id__1': 3, 'voltage__1': None, 'dimensions__1': '18650', 'charge_max_rated_current__1': None, 'additional_tags__1': None, 'cell_number__1': None, 'purpose__1': 'Customer testplan', 'storage_location__1': '1', 'type_id__1': 'SE_EVE_18650-25P_SE', 'responsible_person_id__1': 9, 'weight__1': None, 'customer_id__2': 9, 'nominal_capacity__2': None, 'discharge_max_rated_current__2': None, 'cell_producer_id__2': 8, 'cell_model_id__2': 27, 'cathode_chemistry_id__2': 4 ... 21900 parameters truncated ... 'cell_number__997': None, 'purpose__997': None, 'storage_location__997': '1', 'type_id__997': 'MO_INR-18650-P26A', 'responsible_person_id__997': 9, 'weight__997': 50.0, 'customer_id__998': 9, 'nominal_capacity__998': 2.6, 'discharge_max_rated_current__998': 35.0, 'cell_producer_id__998': 3, 'cell_model_id__998': 41, 'cathode_chemistry_id__998': 4, 'ac_ir__998': 11.65, 'date_received__998': None, 'serial_number__998': None, 'battery_chemistry_id__998': 3, 'date_released__998': None, 'anode_chemistry_id__998': 3, 'voltage__998': 3.5168, 'dimensions__998': None, 'charge_max_rated_current__998': 6.0, 'additional_tags__998': None, 'cell_number__998': None, 'purpose__998': None, 'storage_location__998': '1', 'type_id__998': 'MO_INR-18650-P26A', 'responsible_person_id__998': 9, 'weight__998': 50.0, 'customer_id__999': 9, 'nominal_capacity__999': 2.6, 'discharge_max_rated_current__999': 35.0, 'cell_producer_id__999': 3, 'cell_model_id__999': 41, 'cathode_chemistry_id__999': 4, 'ac_ir__999': 11.65, 'date_received__999': None, 'serial_number__999': None, 'battery_chemistry_id__999': 3, 'date_released__999': None, 'anode_chemistry_id__999': 3, 'voltage__999': 3.5168, 'dimensions__999': None, 'charge_max_rated_current__999': 6.0, 'additional_tags__999': None, 'cell_number__999': None, 'purpose__999': None, 'storage_location__999': '1', 'type_id__999': 'MO_INR-18650-P26A', 'responsible_person_id__999': 9, 'weight__999': 50.0}
2025-03-06 12:00:53,994 INFO sqlalchemy.engine.Engine INSERT INTO "CELL_INFO" (type_id, cell_number, serial_number, date_received, date_released, purpose, nominal_capacity, charge_max_rated_current, discharge_max_rated_current, voltage, ac_ir, weight, dimensions, additional_tags, storage_location, custo ... 550613 characters truncated ... mistry_id__999)s, %(cell_model_id__999)s, %(cell_producer_id__999)s, %(responsible_person_id__999)s)
2025-03-06 12:00:53,994 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (unordered)] {'customer_id__0': 9, 'nominal_capacity__0': 2.6, 'discharge_max_rated_current__0': 35.0, 'cell_producer_id__0': 3, 'cell_model_id__0': 41, 'cathode_chemistry_id__0': 4, 'ac_ir__0': 11.65, 'date_received__0': None, 'serial_number__0': None, 'battery_chemistry_id__0': 3, 'date_released__0': None, 'anode_chemistry_id__0': 3, 'voltage__0': 3.5168, 'dimensions__0': None, 'charge_max_rated_current__0': 6.0, 'additional_tags__0': None, 'cell_number__0': None, 'purpose__0': None, 'storage_location__0': '1', 'type_id__0': 'MO_INR-18650-P26A', 'responsible_person_id__0': 9, 'weight__0': 50.0, 'customer_id__1': 9, 'nominal_capacity__1': 2.6, 'discharge_max_rated_current__1': 35.0, 'cell_producer_id__1': 3, 'cell_model_id__1': 41, 'cathode_chemistry_id__1': 4, 'ac_ir__1': 11.48, 'date_received__1': None, 'serial_number__1': None, 'battery_chemistry_id__1': 3, 'date_released__1': None, 'anode_chemistry_id__1': 3, 'voltage__1': 3.5155, 'dimensions__1': None, 'charge_max_rated_current__1': 6.0, 'additional_tags__1': None, 'cell_number__1': None, 'purpose__1': None, 'storage_location__1': '1', 'type_id__1': 'MO_INR-18650-P26A', 'responsible_person_id__1': 9, 'weight__1': 50.0, 'customer_id__2': 9, 'nominal_capacity__2': 2.6, 'discharge_max_rated_current__2': 35.0, 'cell_producer_id__2': 3, 'cell_model_id__2': 41, 'cathode_chemistry_id__2': 4 ... 21900 parameters truncated ... 'cell_number__997': None, 'purpose__997': 'Benchmarking', 'storage_location__997': '2', 'type_id__997': 'IV_SV_R106_C', 'responsible_person_id__997': 9, 'weight__997': 1943.64, 'customer_id__998': 6, 'nominal_capacity__998': 106.0, 'discharge_max_rated_current__998': None, 'cell_producer_id__998': 23, 'cell_model_id__998': 63, 'cathode_chemistry_id__998': 4, 'ac_ir__998': 0.3, 'date_received__998': '2023-09-27', 'serial_number__998': None, 'battery_chemistry_id__998': 5, 'date_released__998': None, 'anode_chemistry_id__998': 3, 'voltage__998': 3.2347, 'dimensions__998': None, 'charge_max_rated_current__998': None, 'additional_tags__998': None, 'cell_number__998': None, 'purpose__998': 'Benchmarking', 'storage_location__998': '2', 'type_id__998': 'IV_SV_R106_C', 'responsible_person_id__998': 9, 'weight__998': 1943.64, 'customer_id__999': 6, 'nominal_capacity__999': 106.0, 'discharge_max_rated_current__999': None, 'cell_producer_id__999': 23, 'cell_model_id__999': 63, 'cathode_chemistry_id__999': 4, 'ac_ir__999': 0.3, 'date_received__999': '2023-09-27', 'serial_number__999': None, 'battery_chemistry_id__999': 5, 'date_released__999': None, 'anode_chemistry_id__999': 3, 'voltage__999': 3.2347, 'dimensions__999': None, 'charge_max_rated_current__999': None, 'additional_tags__999': None, 'cell_number__999': None, 'purpose__999': 'Benchmarking', 'storage_location__999': '2', 'type_id__999': 'IV_SV_R106_C', 'responsible_person_id__999': 9, 'weight__999': 1943.64}
2025-03-06 12:00:54,413 INFO sqlalchemy.engine.Engine INSERT INTO "CELL_INFO" (type_id, cell_number, serial_number, date_received, date_released, purpose, nominal_capacity, charge_max_rated_current, discharge_max_rated_current, voltage, ac_ir, weight, dimensions, additional_tags, storage_location, custo ... 283514 characters truncated ... mistry_id__516)s, %(cell_model_id__516)s, %(cell_producer_id__516)s, %(responsible_person_id__516)s)
2025-03-06 12:00:54,414 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (unordered)] {'customer_id__0': 6, 'nominal_capacity__0': 106.0, 'discharge_max_rated_current__0': None, 'cell_producer_id__0': 23, 'cell_model_id__0': 63, 'cathode_chemistry_id__0': 4, 'ac_ir__0': 0.3, 'date_received__0': '2023-09-27', 'serial_number__0': None, 'battery_chemistry_id__0': 5, 'date_released__0': None, 'anode_chemistry_id__0': 3, 'voltage__0': 3.2347, 'dimensions__0': None, 'charge_max_rated_current__0': None, 'additional_tags__0': None, 'cell_number__0': None, 'purpose__0': 'Benchmarking', 'storage_location__0': '2', 'type_id__0': 'IV_SV_R106_C', 'responsible_person_id__0': 9, 'weight__0': 1943.64, 'customer_id__1': 6, 'nominal_capacity__1': 106.0, 'discharge_max_rated_current__1': None, 'cell_producer_id__1': 23, 'cell_model_id__1': 63, 'cathode_chemistry_id__1': 4, 'ac_ir__1': 0.3, 'date_received__1': '2023-09-27', 'serial_number__1': None, 'battery_chemistry_id__1': 5, 'date_released__1': None, 'anode_chemistry_id__1': 3, 'voltage__1': 3.2347, 'dimensions__1': None, 'charge_max_rated_current__1': None, 'additional_tags__1': None, 'cell_number__1': None, 'purpose__1': 'Benchmarking', 'storage_location__1': '2', 'type_id__1': 'IV_SV_R106_C', 'responsible_person_id__1': 9, 'weight__1': 1943.64, 'customer_id__2': 6, 'nominal_capacity__2': 106.0, 'discharge_max_rated_current__2': None, 'cell_producer_id__2': 23, 'cell_model_id__2': 63, 'cathode_chemistry_id__2': 4 ... 11274 parameters truncated ... 'cell_number__514': None, 'purpose__514': None, 'storage_location__514': None, 'type_id__514': 'LTF-2072', 'responsible_person_id__514': 9, 'weight__514': 798.05, 'customer_id__515': 2, 'nominal_capacity__515': None, 'discharge_max_rated_current__515': None, 'cell_producer_id__515': 15, 'cell_model_id__515': 13, 'cathode_chemistry_id__515': 4, 'ac_ir__515': 1.41, 'date_received__515': None, 'serial_number__515': '2023101712300275010', 'battery_chemistry_id__515': 5, 'date_released__515': None, 'anode_chemistry_id__515': 3, 'voltage__515': 3.511, 'dimensions__515': None, 'charge_max_rated_current__515': None, 'additional_tags__515': None, 'cell_number__515': None, 'purpose__515': None, 'storage_location__515': None, 'type_id__515': 'LTF-2072', 'responsible_person_id__515': 9, 'weight__515': 800.94, 'customer_id__516': 2, 'nominal_capacity__516': None, 'discharge_max_rated_current__516': None, 'cell_producer_id__516': 15, 'cell_model_id__516': 13, 'cathode_chemistry_id__516': 4, 'ac_ir__516': 1.39, 'date_received__516': None, 'serial_number__516': '2023101712300275011', 'battery_chemistry_id__516': 5, 'date_released__516': None, 'anode_chemistry_id__516': 3, 'voltage__516': 3.511, 'dimensions__516': None, 'charge_max_rated_current__516': None, 'additional_tags__516': None, 'cell_number__516': None, 'purpose__516': None, 'storage_location__516': None, 'type_id__516': 'LTF-2072', 'responsible_person_id__516': 9, 'weight__516': 798.05}
2025-03-06 12:00:54,550 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:54,551 INFO sqlalchemy.engine.Engine [cached since 2.05s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:54,563 INFO sqlalchemy.engine.Engine COMMIT

517

In [50]:
import datetime

cycler_dict = {
    "serial_number": ["229383-A", "229383-A", "229383-B", "229383-C", "33247", "234783-C", "234783-B", "234783-A1", "234783-A2", "234775"],
    "active_from": [None, datetime.datetime.fromtimestamp(1734429154), None, None, None, None, None, None, None, None],
    "short_name": ["A1", "A1-1", "A2", "A3", "A4", "A5", "A6", "A7a", "A7b", "A8"],
    "long_name": ["Arbin1", "Arbin1-1", "Arbin2", "Arbin3", "Arbin4", "Arbin5", "Arbin6", "Arbin7a", "Arbin7b", "Arbin8"]
}



df_cycler = pd.DataFrame(cycler_dict)
df_cycler.to_sql(name='CYCLER_INFO', con=engine, if_exists='append', index=False)

2025-03-06 12:00:54,603 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-06 12:00:54,604 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:54,605 INFO sqlalchemy.engine.Engine [cached since 2.151s ago] {'table_name': 'CYCLER_INFO', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:54,629 INFO sqlalchemy.engine.Engine INSERT INTO "CYCLER_INFO" (serial_number, active_from, short_name, long_name) VALUES (%(serial_number__0)s, %(active_from__0)s, %(short_name__0)s, %(long_name__0)s), (%(serial_number__1)s, %(active_from__1)s, %(short_name__1)s, %(long_name__1)s), (%( ... 543 characters truncated ... , %(long_name__8)s), (%(serial_number__9)s, %(active_from__9)s, %(short_name__9)s, %(long_name__9)s)
2025-03-06 12:00:54,629 INFO sqlalchemy.engine.Engine [generated in 0.00008s (insertmanyvalues) 1/1 (unordered)] {'short_name__0': 'A1', 'long_name__0': 'Arbin1', 'active_from__0': None, 'serial_number__0': '229383-A', 'short_name__1': 'A1-1', 'long_name__1': 'Arbin1-1', 'active_from__1': datetime.datetime(2024, 12, 17, 10, 52, 34), 'serial_number__1': '229383-A', 'short_name__2': 'A2', 'long_name__2': 'Arbin2', 'active_from__2': None, 'serial_number__2': '229383-B', 'short_name__3': 'A3', 'long_name__3': 'Arbin3', 'active_from__3': None, 'serial_number__3': '229383-C', 'short_name__4': 'A4', 'long_name__4': 'Arbin4', 'active_from__4': None, 'serial_number__4': '33247', 'short_name__5': 'A5', 'long_name__5': 'Arbin5', 'active_from__5': None, 'serial_number__5': '234783-C', 'short_name__6': 'A6', 'long_name__6': 'Arbin6', 'active_from__6': None, 'serial_number__6': '234783-B', 'short_name__7': 'A7a', 'long_name__7': 'Arbin7a', 'active_from__7': None, 'serial_number__7': '234783-A1', 'short_name__8': 'A7b', 'long_name__8': 'Arbin7b', 'active_from__8': None, 'serial_number__8': '234783-A2', 'short_name__9': 'A8', 'long_name__9': 'Arbin8', 'active_from__9': None, 'serial_number__9': '234775'}
2025-03-06 12:00:54,644 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s]) AND pg_catalog.pg_class.relpersistence != %(relpersistence_1)s AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-03-06 12:00:54,644 INFO sqlalchemy.engine.Engine [cached since 2.144s ago] {'param_1': 'r', 'param_2': 'p', 'relpersistence_1': 't', 'nspname_1': 'pg_catalog'}
2025-03-06 12:00:54,657 INFO sqlalchemy.engine.Engine COMMIT

10

# Ingest the old test spreadsheet

In [51]:
# df_append_sqlite.drop(columns=['type_id', 'charge_max_rated_current', 'discharge_max_rated_current','voltage', 'ac_ir','weight', 'dimensions','battery_chemistry_id', 'cathode_chemistry_id', 'anode_chemistry_id', 'additional_tags','purpose','date_received', 'cell_producer_id', 'nominal_capacity', 'cell_model_id', 'form_factor_id','test_current','serial_number', 'customer_id', 'legacy_testprocedure', 'Unnamed: 31', 'cabinet_shelf', 'comment', 'soc', 'storage_location'], inplace=True)

In [52]:
# df_append_sqlite['test_key'] = f"{df_append_sqlite['cycler']}_{df_append_sqlite['channel']}_{df_append_sqlite['test_id']}"
# df_append_sqlite.keys()

In [53]:
# df_append_sqlite.to_sql(name='table_tests', con=conn, if_exists='append', index=False)

In [54]:
# count = pd.read_sql_query("SELECT COUNT(*) FROM table_tests", conn)
# count

In [55]:
# pd.read_sql_query("SELECT * FROM table_tests WHERE cycler='A1' ORDER BY test_id ASC", conn)